.car_z{
    height: 100%;
    display: flex;
    flex-direction: column;
    .header_z{
        height: 40px;
        border-bottom: 1px solid #E8E8E8;
        background: #FAFAFA;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        i{
            font-size: 14px;
            float: left;
            line-height: 40px;
        }
        .i1{
            padding-left: 10px;
        }
        .car_zt{
            font-size: 16px;
            line-height: 40px;
            float: left;
            width: 315px;
            text-align: center;
            color: #252525;
        }
    }


    .main_z{
        flex: 1;
        overflow-x: hidden;
        padding: 40px 0 49px 0;
        ul{
            li{
                padding: 36px 20px 0 40px;
                border-bottom: 1px solid #E8E8E8;
                height: 128px;
                img{
                    float: left;
                    display: inline-block;
                    width: 80px;
                    border:1px solid #E8E8E8;
                    margin-right: 10px;
                }
                h4{
                    font-weight: normal;
                    font-size: 12px;
                    padding-bottom: 5px;
                }
                p{
                    display: block;
                    font-size: 12px;
                    line-height: 20px;
                    span{
                        color: #FF0000;
                    }
                    button{
                        background: #fff;
                        border: 1px solid #D0D0D0;
                    }
                    input{
                        width: 30px;
                        height: 19px;
                        border: 1px solid #D0D0D0;
                        text-align: center;
                    }
                    .del{
                        margin-left: 100px;
                    }
                }
            }
        }
    }


    .footer_z{
        height: 50px;
        background: #fff;
        z-index: 10000;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #D9D9D9;
        p{
            font-size: 14px;
            line-height: 36px;
            padding-left: 70px;
            span{
                color: #FF3333;
            }
            button{
                font-size:16px;
                width: 98px;
                height: 50px;
                background: #FD5A5B;
                color: #fff;
                text-align: center;
                border: none;
                margin-left: 106px;
            }
        }
    }
}
