.car_z{
    height: 100%;
    display: flex;
    flex-direction: column;
    .header_z{
        height: 0.533333rem;
        border-bottom: 0.013333rem solid #E8E8E8;
        background: #FAFAFA;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        i{
            font-size: 0.186667rem;
            float: left;
            line-height: 0.533333rem;
        }
        .i1{
            padding-left: 0.133333rem;
        }
        .car_zt{
            font-size: 0.213333rem;
            line-height: 0.533333rem;
            float: left;
            width: 4.2rem;
            text-align: center;
            color: #252525;
        }
    }


    .main_z{
        flex: 1;
        overflow-x: hidden;
        padding-top: 0.533333rem;
        ul{
            li{
                padding: 0.28rem 0.166667rem 0 0.533333rem;
                border-bottom: 0.013333rem solid #E8E8E8;
                height: 1.566667rem;
                position:relative;
                img{
                    float: left;
                    display: inline-block;
                    width: 1.066667rem;
                    border: 0.013333rem solid #E8E8E8;
                    margin-right: 0.133333rem;
                }
                h4{
                    font-weight: normal;
                    font-size: 0.16rem;
                    padding-bottom: 0.066667rem;
                }
                p{
                    display: block;
                    font-size: 0.16rem;
                    line-height: 0.266667rem;
                    span{
                        color: #FF0000;
                    }
                    button{
                        background: #fff;
                        border: 0.013333rem solid #D0D0D0;
                    }
                    input{
                        width: 0.4rem;
                        height: 0.253333rem;
                        border: 0.013333rem solid #D0D0D0;
                        text-align: center;
                    }
                    .del{
                        margin-left: 1.333333rem;
                    }
                }
            }
        }
    }


    .footer_z{
        height: 0.666667rem;
        background: #fff;
        z-index: 1000;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 0.013333rem solid #D9D9D9;
        p{
            display:flex;
            justify-content: space-between;
            font-size: 0.186667rem;
            line-height: 0.48rem;
            padding-left: 0.133333rem;
            span{
                color: #FF3333;
                 line-height: 0.666667rem;
                 font-size:0.266667rem;
            }
            button{
                font-size: 0.213333rem;
                width: 1.306667rem;
                height: 0.666667rem;
                background: #FD5A5B;
                color: #fff;
                text-align: center;
                border: none;
            }
        }
    }
}
.emptyCar{
    position:absolute;
    left: 0;
    top: 0.533333rem;
    bottom: 0;
    right: 0;
    background:#fff;
    z-index:1001;
    display:none;
    span{
        display:flex;
        width: 100%;
        padding: 0.133333rem;
        justify-content:center;
        font-size:0.386667rem;
        color:blue;
        text-decoration:underline;
    }
}

.checkbox{
    position:absolute;
    display:inline-block;
    width: 0.266667rem;
    height: 0.266667rem;
    left: 0.206667rem;
    top: 0.566667rem;
}
