html,body{
    height: 100%;
}
#mainBox{
	height: 100%;
	display:flex;
    flex-direction: column;

    #mainBody{
    	flex:1;
    	overflow-x: hidden;
    	background:#fff;
    }
    #mianFooter{

        display: flex;
    	align-items: center;
    	justify-content: space-between;
        border-top: 0.008rem solid #d6d6d6;
        background: #fff;
        z-index: 100;
        ul{
            width: 100%;
            display:flex;
            height: 0.56rem;

            li{
                flex:1;
                a{
                    flex:1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    text-decoration: none;
                    font-size:0.173333rem;
                    color: #898989;
                }
            }
        }
    }

}
