.myTitle{
    height: 2.333333rem;
    background-color: #de4943;
    width: 100%;
    color: #fff;
    display:flex;
    padding: 0 0.133333rem;
    div{
        display:flex;
        align-self: center;
    	line-height: 0.533333rem;
    	font-size:0.206667rem;
    	flex:1;
    	text-align:center;
        p{ 
            line-height: 1.066667rem;
            margin-left: 0.133333rem;
            font-size:0.186667rem;
            i{
                font-size:0.12rem;
            }
        }
        .usePic{
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align:center;
            font-size:0.833333rem;
            background:#fff;
            color:red;
            border-radius:50%;
        }
    }
}
%order{
    background:#fff;
    margin-bottom: 0.133333rem;
    ul{    
        display:flex;
        height: 0.8rem;
        li{
            width: 25%;
            display:flex;
            flex-direction:column;
            text-align:center;
            align-self: center;
            span{
                font-size:0.16rem;
            }
            i{
                font-size:0.24rem;
                margin-bottom: 0.053333rem;
            }
        }
    }
    p{    
        display:flex;
        justify-content: space-between;
        padding:0.133333rem;
        border-bottom:0.013333rem solid #ddd;
        span{
            font-size:0.193333rem;
        }
        span:first-child{
            font-weight:600;
        }
        span:last-child{
            color:#999;
            font-size:0.168333rem;
            i{
                font-size:0.146667rem;
            }
        }
    }
}
.myOrder{
    
    @extend %order;
}

.myMoney{
    @extend %order;
    ul{
        li{
            i{
                font-size:0.126667rem;
                margin-bottom: 0.066667rem;
            }
        }
    }
}
.myWall{
    background:#fff;
    ul{
        display:flex;
        flex-wrap:wrap;
        li{
            display:flex;
            flex-direction:column;
            text-align:center;
            align-self:center;
            width: 25%;
            padding: 0.153333rem; 
            i{
                font-size:0.333333rem;
                margin-bottom: 0.103333rem;
            }
            span{
                font-size:0.16rem;
            }
        }
    }
}
