.nickTitle{
	display:flex;
    justify-content: space-between;
    padding:0.133333rem 0.156667rem;
	span{
    	font-size:0.206667rem ;
	}
	span:nth-of-type(1){
		font-weight:600;
	}
}

.nickIn{
	display:flex;
	width: 100%;
	input{
		width: 100%;
		border:0 none;
		background:#fff;
		padding:0.2rem 0.133333rem;
	}
}